asgiref==3.2.10
beautifulsoup4==4.12.2
Django==3.1.1
django-crispy-forms==1.9.2
django-extensions==3.1.5
django-formset-bootstrap==1.4.0.dev3
django-livereload-server==0.3.2
django-querysetsequence==0.14
psycopg2==2.9.9
python-dotenv==1.0.0
pytz==2023.3.post1
six==1.16.0
soupsieve==2.5
sqlparse==0.4.4
tornado==6.4
