django==3.1.1
django-crispy-forms==1.9.2
# livereload not for production
django-livereload-server==0.3.2
django-extensions
django-formset-bootstrap==1.4.0.dev3	#temporary
django-querysetsequence==0.14
xhtml2pdf==0.2.5
whitenoise==5.1.0