{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<section class="container">
  {% if validlink %}
    <h3 class="text-center">Change password</h3>
    <form method="post" class="form">
      {% csrf_token %}
      {{ form|crispy }}
      <button type="submit" class="btn btn-success">Change password</button>
    </form>
  {% else %}
    <p>
      The password reset link was invalid, possibly because it has already been used.
      Please request a new password reset.
    </p>
  {% endif %}
</section>
{% endblock %}