{% extends 'base.html' %}
{% block content %}
    {% if staffs %}
        {% for staff in staffs %}
            <div class="m-3">
                <div style="border : 2px red solid">
                    <ul>
                        <li> Username : {{ staff.user.username | default:"NA" }} </li>
                        <li> First name : {{ staff.user.first_name | default:"NA" }} </li>
                        <li> Email : {{ staff.user.email | default:"NA" }} </li>
                    </ul>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <h4>No staffs.</h4>
    {% endif %}
{% endblock %}