/* Html Scrollbar Hide */
.html::-webkit-scrollbar {
  /* Edge,Chrome,Opera */
  -ms-overflow-style: none;
  scrollbar-width: none;
  display: none;
}

::-webkit-scrollbar {
  /* Edge,Chrome,Opera, */
  overflow: scroll;
  overflow-x: hidden;
  width: 0px;
  display: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
  background: transparent;
}

@-moz-document url-prefix() {
  html {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
.simplebar-content-wrapper {
  overflow: auto;
}

.simplebar-scrollbar::before {
  background-color: #b8b9be;
}

/* Html Scrollbar Effect */
html {
  scroll-behavior: smooth;
}

body {
  background-color: #daeaf6;
  font-family: "Karla", sans-serif !important;
}

/* Font Family */
.karla {
  font-family: "Karla", sans-serif;
}

.arvo {
  font-family: "Arvo", serif;
}

/* Colors */
/* Background Colors */
.bg_d_blue {
  background-color: #062743;
}

.bg_l_bluish_white {
  background-color: #daeaf6;
}

/* Text Colors */
.text_d_blue {
  color: #062743;
}

.text_l_bluish_white {
  color: #daeaf6 !important;
}

/* Font Style */
.upper_case {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

.font_size_normal {
  font-size: 1.2rem;
}

.font_size_big {
  font-size: 3rem;
}

@media screen and (max-width: 500px) {
  .font_size_big {
    font-size: 1.5rem !important;
  }
}
@media screen and (max-width: 767px) {
  .font_size_big {
    font-size: 2rem;
  }
}
/* Customizing Bootstrap */
.nav-link {
  color: #062743;
}

/* Customizing Django */
.asteriskField {
  color: red !important;
}

.requiredField {
  color: #062743;
  font-size: 1.1rem;
  font-family: "arvo";
}

.invalid-feedback {
  padding: 10px 0px 0px 15px;
}

.form-text {
  padding: 10px 0px 0px 15px;
}

/* Custom Button */
/* Mainly for Hamburger Button */
.btn-cust {
  color: #062743;
  transition: all 0.4s;
  border-radius: 2rem !important;
}
.btn-cust:focus {
  outline: none !important;
  box-shadow: 5px 5px 10px #c2d0db, -5px -5px 10px #e5f6ff;
}
.btn-cust:active {
  outline: none !important;
}

.cust_date {
  margin-top: 3px;
  font-size: 1.1rem;
  font-family: "Karla", sans-serif;
  transition: all 0.4s;
  color: #062743 !important;
  background-color: #daeaf6 !important;
  border: 1px solid #c9d7e2;
  border-color: #daeaf6 !important;
  border-radius: 2rem !important;
  box-shadow: inset 5px 5px 10px #c2d0db, inset -5px -5px 10px #daeaf6;
}
.cust_date:focus {
  outline: none !important;
  box-shadow: 5px 5px 10px #c2d0db, -5px -5px 10px #e5f6ff;
  border: 1px solid #c9d7e2;
  cursor: pointer;
}
.cust_date:active {
  outline: #c9d7e2 !important;
  border: 1px solid #c9d7e2;
  cursor: pointer;
}
.cust_date:hover {
  color: #062743;
  box-shadow: 5px 5px 10px #c2d0db, -5px -5px 10px #e5f6ff;
  border: 1px solid #c9d7e2;
  cursor: pointer;
}

/* HomePage */
.calendar_svg {
  width: 40%;
}

.benefit_svg {
  width: 30%;
}

.icon-holder {
  position: absolute;
  left: 50%;
  top: -18px;
  margin-left: -18px;
  display: inline-block;
  width: 45px;
  height: 45px;
  background: #062743;
  color: #daeaf6;
  text-align: center;
  border-radius: 50%;
  padding-top: 11px;
}

@media screen and (max-width: 767px) {
  .calendar_svg {
    width: 85%;
  }
  .benefit_svg {
    width: 100% !important;
  }
}
@media only screen and (min-width: 2000px) {
  .calendar_svg {
    width: 30%;
  }
  .benefit_svg {
    width: 25%;
  }
}
.list-style-square li {
  list-style-type: square;
}

/* Main Content */
.neu_icon {
  transition: all 0.4s;
  box-shadow: 5px 5px 10px #c2d0db, -5px -5px 10px #e5f6ff;
}
.neu_icon:hover {
  color: #062743;
  font-size: 1.05rem;
  box-shadow: inset 5px 5px 10px #c2d0db, inset -5px -5px 10px #e5f6ff;
}

@media screen and (min-width: 768px) {
  .max_95 {
    max-width: 95%;
  }
}
/* Border Radius */
.img_border_radius {
  border-radius: 1.2rem !important;
}

/* Search Field */
.search_cust {
  margin-top: 3px;
  font-size: 1.1rem;
  font-family: "Karla", sans-serif;
  color: #062743 !important;
  background-color: #daeaf6 !important;
  border: 1px solid #c9d7e2;
  border-color: #daeaf6 !important;
  border-radius: 2rem !important;
  box-shadow: inset 5px 5px 10px #c2d0db, inset -5px -5px 10px #daeaf6;
  border-right: 0px;
  transition: all 0.4s;
}
.search_cust:focus {
  outline: none !important;
  font-size: 1.15rem !important;
  box-shadow: 0 0 0 0.1rem #c2d0db;
  cursor: context-menu !important;
}
.search_cust:hover {
  cursor: pointer;
  font-size: 1.15rem;
}

.rounded_custom_left {
  margin-top: 3px;
  font-size: 1.1rem;
  font-family: "Karla", sans-serif;
  color: #062743 !important;
  background-color: #daeaf6 !important;
  border: 1px solid #c9d7e2;
  border-color: #daeaf6 !important;
  border-radius: 2rem !important;
  box-shadow: inset 5px 5px 10px #c2d0db, inset -5px -5px 10px #daeaf6;
  border-top-right-radius: 0rem !important;
  border-bottom-right-radius: 0rem !important;
  border-right: 0px;
  transition: all 0.4s;
}
.rounded_custom_left:focus {
  outline: none !important;
  font-size: 1.15rem !important;
  box-shadow: 0 0 0 0.1rem #c2d0db;
  cursor: context-menu !important;
}
.rounded_custom_left:hover {
  cursor: pointer;
  font-size: 1.15rem;
}

.rounded_custom_right {
  margin-top: 3px;
  font-size: 1.1rem;
  font-family: "Karla", sans-serif;
  color: #062743 !important;
  background-color: #daeaf6 !important;
  border: 1px solid #c9d7e2;
  border-color: #daeaf6 !important;
  border-radius: 2rem !important;
  box-shadow: inset 2px 2px 3px #b3c0ca, inset -2px -2px 3px #b3c0ca;
  border-top-left-radius: 0rem !important;
  border-bottom-left-radius: 0rem !important;
  border-left: 0px;
}

/* Left Side Nav Bar */
#left_side_bar {
  position: relative;
  z-index: 1000;
  border: 1px solid #c9d7e2;
  height: 465px;
  min-width: 225px !important;
  width: 225px;
  transition: 0.5 ease;
  background-color: #daeaf6;
  border-radius: 2rem !important;
  box-shadow: 8px 8px 20px #aebbc5, -8px -8px 20px #daeaf6;
}
#left_side_bar .side_bar .side_bar_title {
  padding: 12px 50px 5px 50px;
  letter-spacing: 0.05em;
  pointer-events: none;
  cursor: default;
  font-size: 0.7875rem;
  text-transform: uppercase;
  color: #062743;
  font-weight: 600;
}
#left_side_bar .side_bar .list-group .side_bar_link {
  color: #062743;
  display: flex;
  align-items: center;
  padding: 10px 50px 10px 50px;
  font-size: 1rem;
  position: relative;
  transition: all 0.4s;
  text-decoration: none;
}
#left_side_bar .side_bar .list-group .fill_d_blue {
  fill: #062743 !important;
  color: #062743;
}
#left_side_bar .side_bar .list-group :hover {
  background-color: #062743;
  color: #fff !important;
  fill: #fff !important;
  font-size: 1.1rem;
}
#left_side_bar .side_bar .list-group :active {
  background-color: #062743;
  color: #fff;
  fill: #fff;
}

@media screen and (max-width: 768px) {
  #left_side_bar {
    position: fixed !important;
    top: 0px;
    left: 0px;
    display: none;
    z-index: 1050 !important;
    overflow-y: auto;
    width: 250px;
    height: 100%;
    border-radius: 0 !important;
    box-shadow: none !important;
  }
  #left_side_bar .side_bar .list-group-item {
    display: list-item;
  }
  #left_side_bar .side_bar .side_bar_title {
    text-align: start;
  }
  #left_side_bar .side_bar .list-group .side_bar_link {
    padding: 12px 50px 12px 50px;
    justify-content: start;
    border-bottom: 0.5px solid #fff;
  }
}
.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  display: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1045;
  cursor: pointer;
}

/* Right-side Main Content */
#main_content {
  flex-basis: 0;
  flex-grow: 1;
  position: relative;
  width: 100%;
}

/* neumorphism-ui */
.border_white {
  border: 1px solid #c9d7e2;
}

.border_color_white {
  border-color: #ffffff;
}

.input_cust {
  margin-top: 3px;
  font-size: 1.1rem;
  font-family: "Karla", sans-serif;
  color: #062743 !important;
  background-color: #daeaf6 !important;
  border: 1px solid #c9d7e2;
  border-radius: 2rem !important;
  box-shadow: inset 5px 5px 10px #c2d0db, inset -5px -5px 10px #daeaf6;
}
.input_cust:focus {
  border: 2px solid #c9d7e2;
  outline: none !important;
  box-shadow: inset 5px 5px 10px #c2d0db, inset -5px -5px 10px #e5f6ff;
}
.input_cust:hover {
  box-shadow: inset 5px 5px 10px #c2d0db, inset -5px -5px 10px #e5f6ff;
}
.input_cust:active {
  outline: none !important;
}

.body_box_shadow {
  background-color: #daeaf6;
  border-radius: 2rem !important;
  box-shadow: 8px 8px 16px #aebbc5, -8px -8px 16px #daeaf6;
}

.modal_box_shadow {
  background-color: #daeaf6;
  border-radius: 2rem !important;
}

.card_box_shadow {
  background-color: #daeaf6;
  border-radius: 2rem !important;
  box-shadow: 8px 8px 16px #aebbc5, -8px -8px 16px #daeaf6;
}

.toast_box_shadow {
  width: 350px !important;
  border: 1px solid #ffffff;
  background-color: #daeaf6;
  border-radius: 2rem !important;
  box-shadow: 8px 8px 16px #aebbc5, -8px -8px 16px #daeaf6;
}

.badge_box_shadow {
  padding: 6px;
  border: 1px solid #c9d7e2;
  background-color: #daeaf6;
  border-radius: 2rem !important;
  box-shadow: inset 1px 1px 3px #aebbc5, inset -1px -1px 3px #daeaf6;
}

/* Table */
.table_box_shadow {
  background-color: #daeaf6;
  border-radius: 2rem !important;
  box-shadow: 6px 6px 12px #b8b9be, -6px -6px 12px #daeaf6 !important;
}

/* Table scroll for vertical */
.table_wrapper {
  max-height: 400px;
  overflow-y: auto;
  display: inline-block;
}

/* Animation */
.transition_4s {
  transition: all 0.4s;
}

/* Table */
/* Table Scrollbar Hide */
.table::-webkit-scrollbar {
  /* Chrome,Edge,Opera,Firefox */
  width: 0px;
  background: transparent;
}

.table_wrapper {
  /* Chrome,Edge,Opera,Firefox */
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.table_wrapper::-webkit-scrollbar {
  /* Chrome,Edge,Opera,Firefox */
  width: 0px;
  background: transparent;
}

/* Coming Soon - loading animation */
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  --color: #062743;
  --animation: 2s ease-in-out infinite;
}

.loader .circle {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 20px;
  height: 20px;
  border: solid 2px var(--color);
  border-radius: 50%;
  margin: 0 10px;
  background-color: transparent;
  animation: circle-keys var(--animation);
}

.loader .circle .dot {
  position: absolute;
  transform: translate(-50%, -50%);
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: var(--color);
  animation: dot-keys var(--animation);
}

.loader .circle .outline {
  position: absolute;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  animation: outline-keys var(--animation);
}

.circle:nth-child(2) {
  animation-delay: 0.3s;
}

.circle:nth-child(3) {
  animation-delay: 0.6s;
}

.circle:nth-child(4) {
  animation-delay: 0.9s;
}

.circle:nth-child(5) {
  animation-delay: 1.2s;
}

.circle:nth-child(2) .dot {
  animation-delay: 0.3s;
}

.circle:nth-child(3) .dot {
  animation-delay: 0.6s;
}

.circle:nth-child(4) .dot {
  animation-delay: 0.9s;
}

.circle:nth-child(5) .dot {
  animation-delay: 1.2s;
}

.circle:nth-child(1) .outline {
  animation-delay: 0.9s;
}

.circle:nth-child(2) .outline {
  animation-delay: 1.2s;
}

.circle:nth-child(3) .outline {
  animation-delay: 1.5s;
}

.circle:nth-child(4) .outline {
  animation-delay: 1.8s;
}

.circle:nth-child(5) .outline {
  animation-delay: 2.1s;
}

@keyframes circle-keys {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.5);
    opacity: 0.5;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes dot-keys {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes outline-keys {
  0% {
    transform: scale(0);
    outline: solid 20px var(--color);
    outline-offset: 0;
    opacity: 1;
  }
  100% {
    transform: scale(1);
    outline: solid 0 transparent;
    outline-offset: 20px;
    opacity: 0;
  }
}/*# sourceMappingURL=style.css.map */