{% load static %}

<div class="row mx-0 mt-5 text-center bg_d_blue">
    <div class="col-12 col-md my-3">
        <img class="mb-2 rounded-circle" src=" {% static 'img/logo.jpg' %}" alt="" width="20" height="20">
        <small class="d-block text_l_bluish_white">SAMS</small>
        <small class="d-block mb-3 text_l_bluish_white">©2020</small>
    </div>
    <div class="col-12 col-md mt-3 text_l_bluish_white">
        <h5 class="font-weight-bold">Connect</h5>
        <ul class="list-unstyled text-small">
            <li><a class="text-muted nav-link text_l_bluish_white" href="#">Blog</a></li>
            <li><a class="text-muted nav-link text_l_bluish_white" href="#">Facebook</a></li>
            <li><a class="text-muted nav-link text_l_bluish_white" href="#">Instagram</a></li>
            <li><a class="text-muted nav-link text_l_bluish_white" href="#">Twitter</a></li>
        </ul>
    </div>
    <div class="col-12 col-md mt-3 text_l_bluish_white">
        <h5 class="font-weight-bold">Company</h5>
        <ul class="list-unstyled text-small">
            <li><a class="text-muted nav-link text_l_bluish_white" href="#">About</a></li>
            <li><a class="text-muted nav-link text_l_bluish_white" href="#">Contact</a></li>
            <li><a class="text-muted nav-link text_l_bluish_white" href="#">FAQs</a></li>
            <li><a class="text-muted nav-link text_l_bluish_white" href="#">Terms</a></li>
        </ul>
    </div>
</div>