{% extends 'base.html' %}

{% block content %}
    <h1> Welcome to attendance page!!!</h1>
    <form action="." method="POST">
        {% csrf_token %}
        {% for student in students %}
            <input name="{{student.username}}" type="checkbox" checked data-toggle="toggle" data-onstyle="success" data-offstyle="danger" data-on="Present" data-off="Absent">
            <label>{{student.username}}</label><br><br>
        {% endfor %}
        <input type="submit" value="submit">
    </form>
{% endblock %}