{% extends 'base.html' %}

{% block content %}
    <h4>Hello world</h4>
    <form action={% url 'attendancess:classes' %}>
        <input type="date" value={{date}} name="date">
        <input type="submit" value="Go">
    </form>
    {% if data %}
        {% for class,isPosted in data %}
            <div class="card m-4">
                {% if isPosted %}
                    <div class="card-header">
                        Posted
                    </div>
                {% endif %}
                <div class="card-body">             
                    <p>{{class.hour}} hour</p>
                    {% if isPosted %}
                        <a href="{% url 'attendancess:check-attendance' %}?id={{class.subject.id}}&date={{date}}" class="card-link"><p>{{class.subject.sub_name}}</p></a>    
                    {% else %}
                        <a href="{% url 'attendancess:attendance' class.subject.id %}" class="card-link"><p>{{class.subject.sub_name}}</p></a>
                    {% endif %}
                    <p>{{class.set_name.classroom.get_year_display}} {{class.set_name.classroom.course}} {{class.set_name.classroom.sec|upper}}</p>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <h2>No classes.</h2>
    {% endif %}
{% endblock %}