{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block title %}
<title>SAMS | Classroom | View and Create</title>
{% endblock %}

{% block head %}
<style>
    #delete-more-button,
    #search-class-input-group {
        border: none;
        background: none;
    }

    label {
        font-weight: 700;
    }
</style>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row my-4">
        <div class="col-2">
            <button type="button" data-toggle="modal" data-target="#create-class-modal" data-backdrop="static"
                class="btn border_white btn-cust neu_icon text-success align-self-center">
                Create
            </button>
        </div>
        <div class="col-8">
            <div class="input-group"
                style="box-shadow: 4px 4px 20px 0 rgba(0, 0, 0, 0.2), 4px 4px 20px 0 rgba(0, 0, 0, 0.19);height:45px">
                <div class="input-group-prepend">
                    <i class="fa fa-search input-group-text pt-2" aria-hidden="true"
                        style="border:none;background:none"></i>
                </div>
                <input type="text" class="form-control" placeholder="Search for class . . . ." id="search-class"
                    style="border:none;">
            </div>
        </div>
        <div class="col-1">
            <button type="button" class="mt-2" id="delete-more-button" disabled><i class="fa fa-trash"
                    aria-hidden="true" style="font-size:25px;" data-toggle="tooltip" title="Delete more classes at once"
                    data-placement="bottom" id="delete-more"></i></button>
        </div>
    </div>

    {% if all_classrooms %}
    <div class="form-check m-3">
        <input type="checkbox" class="form-check-input" id="select-all">
        <label class="form-check-label" for="select-all">
            Select all
        </label>
    </div>
    <div class="row">
        <!--no of column in each row is three because of row-cols-3-->
        {% for class in all_classrooms %}
        <div class="card cards" style="width:19.5rem">

            <img src="{% static 'img/img1.jpg' %}" style="height:400px">
            <div class="card-img-overlay">
                <div class="card-body">

                    <div class="float-right">
                        <input type="checkbox" class="form-check-input class-check" style="width:20px;height:20px">
                    </div>

                    <div>
                        <h5>Tutor :</h5>
                        <p>{{class.tutor}}</p>
                    </div>

                    <div>
                        <h5>Course :</h5>
                        <p>{{class.course}}</p>
                    </div>

                    <div>
                        <h5>Year :</h5>
                        <p>{{class.year}}</p>
                    </div>

                    <div>
                        <h5>Section :</h5>
                        <p>{{class.sec}}</p>
                    </div>
                    <button type="button" class="btn btn-danger float-right m-2">Delete</button>
                    <a href="{% url 'classroom:editclass' class.id %}" class="btn btn-info">View</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <div>
        <h5>No classrooms created yet</h5>
    </div>
    {% endif %}
</div>

<form class="form" method="POST" action="{% url 'classroom:createclass' %}" novalidate>
    <!--Modal to display create class form-->
    <div class="modal fade" id="create-class-modal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content border_white modal_box_shadow">
                <div class="modal-header ml-1 text_d_blue border_color_white">
                    <h3 class="modal-title capitalize">Create&nbsp;a&nbsp;class</h3>
                    <button type="button" class="close btn-cust pr-4 pt-4" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    {% csrf_token %}
                    {{ form|crispy }}
                </div>
                <div class="modal-footer border_color_white">
                    <div class="col-12 d-flex justify-content-end">
                        <input type="submit" value="Create" name="submit"
                            class="btn border_white btn-cust neu_icon text-success align-self-center mr-2">
                        <a href="{% url 'classroom:createclass' %}"
                            class="btn border_white btn-cust neu_icon text-warning align-self-center ml-2">Cancel</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<script>
    $(document).ready(function () {
        $("#delete-more").tooltip();
        $(".toast").toast({ delay: 2000 }).toast({ autohide: false }).toast('show');

        {% if form.errors %}
        $("#create-class-modal").modal({ backdrop: 'static' });
        $("#create-class-modal").modal('show');
        {% endif %}

        $(".class-check").change(function () {
            if (this.checked) {
                $("#delete-more-button").prop("disabled", false);
            }
            else {
                var decide = false;
                $(".class-check").each(function () {
                    if (this.checked) {
                        decide = true;
                    }
                });
                if (decide == false) {
                    //decide is false when no anyone of the checkbox is checked
                    $("#delete-more-button").prop("disabled", true)
                    if ($("#select-all").prop("checked") == true) {
                        $("#select-all").prop("checked", false)
                    }
                }
                else if (decide == true) {
                    $("#delete-more-button").prop("disabled", false)
                }
            }
        });

        $("#select-all").change(function () {
            if (this.checked) {
                $(".class-check").prop("checked", true)
                $("#delete-more-button").prop("disabled", false)
            }
            else {
                $(".class-check").prop("checked", false)
                $("#delete-more-button").prop("disabled", true)
            }
        });

        $("#search-class").keyup(function () {
            var value = $(this).val().toLowerCase()
            $(".cards").filter(function () {
                $(this).parent().toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>

{% endblock %}

<!--User defined classes:
1.identify : to identify all the input tag 
  in the create classroom form
2.errorlist : it is the predefined class to show the error-->