{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
<title>SAMS | Dashboard</title>
{% endblock %}

{% block head %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
{% endblock %}

{% block content %}
<article class="row d-flex justify-content-center justify-content-md-start my-3 mx-0 mx-md-4">
    <label for="">Student Roll No.</label>
    <input type="text" class="input_cust text_d_blue form-control col-2 mx-2" id="rollno">
    <button type="button" class="btn border_white btn-cust neu_icon align-self-center text-primary ml-2"
        id="student-rollno">Submit</button>
</article>
<article class="row d-flex justify-content-center justify-content-md-between my-3 mx-0 mx-md-4">
    <section class="card card_box_shadow border_white mb-4 mx-2 m-md-2" style="width: 20rem;">
        <div class="card-body">
            <canvas id="doughnut-chart"></canvas>
        </div>
        <div class="card-footer">
            <h4 class="text-center text_d_blue">Attendance</h4>
        </div>
    </section>
</article>

<script>
    // Doughnut
    var config = {
        type: 'doughnut',
        data: {
            datasets: [{
                // data: {{ data }},
                data: ['72.73', '27.27'],
                backgroundColor: [
                    '#28a745', '#dc3545',
                ],
            }],
            labels: [
                'Present',
                'Absent',
            ]
        },
        options: {
            responsive: true,
            title: {
                display: true,
                text: 'Attendance Percentage',
            },
        }
    };

    window.onload = function () {
        // Doughnut
        var ctx = document.getElementById('doughnut-chart').getContext('2d');
        window.myPie = new Chart(ctx, config);

    };

    $(document).ready(function () {
        $("#student-rollno").click(function () {
            var rollno = $("#rollno").val();
            $.ajax({
                headers: {
                    "X-CSRFTOKEN": "{{ csrf_token }}",
                    'contentType': 'application/json;charset=utf-8',
                },
                url: "{% url 'dashboard:student_roll_no' %}",
                type: 'post',
                data: { 'rollno': rollno },
                dataType: 'json',
                success: function (response) {
                    alert(details)
                }
            });
        });
    });
</script>

{% endblock %}