{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
    <title>SAMS</title>
{% endblock %}

{% block content %}
<h5>You are in the classroom : <a href="{% url 'classroom:editclass' c_object.id %}">{{c_object}}</a> </h5>
{{choose_set_object.as_p}}
<a href="{% url 'timetable:createtimetableset' c_object.id %}">Create a new set</a>
<a href="#" class="d-none ml-5" id="edit-set">Edit the selected set</a>
<div id="timetable-section" class="mb-2"></div>
<a href="{% url 'classroom:editclass' c_object.id %}" class="btn btn-danger">Back</a>

<script>
    $(document).ready(function(){
        $("#id_choose_set").change(function(){
            $("#edit-set").removeClass('d-none')
            var set_id=$(this).val()
            $.ajax({
                headers:{
                    "X-CSRFTOKEN": "{{ csrf_token }}",
                },
                url:"{% url 'timetable:showsubjects1' c_object.id 12345 %}".replace(12345,set_id.toString()),
                //it should be an integer '12345 because of the inner django process which is unknown to users'
                type:'post',
                success:function(response){
                    $('#timetable-section').html(response)
                }
            });
        });
    });
</script>
{% endblock %}