{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
    <title>SAMS</title>
{% endblock %}

{% block content %}
<h5>You are in the classroom : <a href="{% url 'classroom:editclass' c_object.id %}">{{c_object}}</a> </h5>
<form method="POST" action="{% url 'timetable:showsubjects' c_object %}">
    {% csrf_token %}
     <label for="set_choose">Choose the set for the timetable</label>
     {{t_set_choose.setchoose}}
     <input type="submit" value="Submit">
</form>
<a href="{% url 'timetable:createtimetableset' c_object.id %}">Create a new set</a>
{% endblock %}