{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
    <title>SAMS</title>
{% endblock %}
    
{% block content %}
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Days/Hour</td>
                <th>I</td>
                <th>II</td>
                <th>III</td>
                <th>IV</td>
                <th>V</td>
            </tr>
        </thead>
        <tbody>
            {% for i,days in all_subjects %}
            <tr>
                <th>{{days}}</th>
                {% for j in i %}
                    <td id="{{forloop.parentloop.counter}}{{forloop.counter}}" name="{{j.id}}">{{j}}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <h5>This timetable is valid from{{s_object.from_date}} to {{s_object.to_date}}</h5>
    <a href="{% url 'timetable:set_info' c_object.id s_object.id %}" class="btn btn-danger">Back</a>
    <a href="{% url 'timetable:createtimetable' c_object.id s_object.id %}" class="btn btn-info">Add subjects for this timetable</a>
    <button type="button" class="btn btn-success float-right" id="save-changes">Save changes</button>
    <button type="button" class="btn btn-danger float-right mr-2" id="cancel-changes">Cancel changes</button>
    
    <!--Modal stuff-->
    <div class="modal fade" id="timetable_modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Change the subject for the particular hour</h4>
                </div>
                <div class="modal-body">
                    <form method="POST" id="create_timetable_form">
                        {% csrf_token %}
                        {{edit_timetable.as_p}}
                        <button type="button" class="btn btn-info" id="add_subject">Add subject</button>
                        <button type="reset" class="btn btn-secondary" id="cancel_button">Cancel</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function(){
            $("#save-changes").prop('disabled',true)
            var a,subject;
            var subject_list=[];
            $("#cancel_button").click(function(){
                $("#timetable_modal").modal('hide')
            });

            $("td").click(function(){
                subject=$(this).text()
                if(subject!='----'){
                    var day,hour;
                    a=$(this).attr('id')
                    day=a[0]
                    hour=a[1]
                    $("#id_day").val(day)
                    $("#id_hour").val(hour)
                    $("#id_day,#id_hour,#id_set_name").attr('disabled',true)
                    //prop method is the best for setting the selected kind of elements
                    $("#id_subject option:contains("+subject+")").prop('selected',true)
                    $("#timetable_modal").modal('show')
                }
            });

            $("#add_subject").click(function(){
                var temp=[];
                $("#save-changes").prop('disabled',false)
                subject=$("#id_subject").val()
                if(subject.length==0){
                    subject='Free'
                    temp=[subject]
                }
                else{
                    temp=[subject]
                    //:selected selector selects the elements that are pre-selected;so there is no manadatory for the elements with the 'selected' attribute
                    subject=$("#id_subject option:selected").text()
                }
               
                $("td").each(function(){
                    var find=$(this).attr('id')
                    if(a==find){
                        $(this).text($(this).text().concat("-->",subject))  
                        var timetable_id=$(this).attr('name')
                        temp.push(timetable_id) 
                    }
                })
                subject_list.push(temp)
                //save=true
                $("#timetable_modal").modal('hide')
            });
            
            $("#save-changes").click(function(){
                $.ajax({
                    headers:{
                        "X-CSRFTOKEN": "{{ csrf_token }}",
                        'contentType' : 'application/json;charset=utf-8',
                    },
                    url:"{% url 'timetable:edit_subjects' %}",
                    type:'post',
                    data: JSON.stringify({'subject_list':subject_list}),
                    success:function(response){
                        if(response=="saved"){
                            $("#save-changes").prop('disabled',true)
                            location.reload()
                        }
                    }
                });
            });

            $("#cancel-changes").click(function(){
                location.reload()
            });
         
        });
    </script>
{% endblock %}