{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block head %}

<script src="{% static 'formset_bootstrap/js/jquery.formset.js' %}" type="text/javascript"></script>

{% endblock %}

{% block content %}

<section class="container">
	<h2 class="text-center">Edit Hour</h2>

	<form method="POST" >
		{% csrf_token %}
		{{ formset.management_form }}
		{% for f in formset %}
			<div id="{{ f.prefix }}-row" class="formset_i">
				{{ f|crispy }}
			</div>
		{% endfor %}

		<input type="submit" value="Save" class="btn btn-success">
	</form>

</section>

<script type="text/javascript">
    $(document).ready(function () {
        $('.formset_i').formset({
        	prefix: "{{ formset.prefix }}",
        });
    });
</script>

{% endblock %}